{
  dnsExpiryDays: 7,
  maxHopCount: 5,
  cacheEnabled: true,
  cacheCleanupRarePercentage: 0.01,
  dnsCacheCapacity: 1000000,
  permissibleHostNameLength: 255,
  dnsStateFileLocation: "/var/cs244b.p2p.dns/state",
  secureConnection: true,
  mutualTlsEnabled: true,
  peers: "/var/cs244b.p2p.dns/peers.json",
  domainMapping: "/var/cs244b.p2p.dns/domain_lookup_db.json",
  sslCertBaseLocation: "/var/cs244b.p2p.dns/ssl_certificates"
}
